.product-listing-img {
    position: relative;
    .cart-btn{
        position: absolute;
        top: 4px;
        left: 4px;
        background: rgba(255,255,255, 0.07) !important;
        color: rgb(20,20,20) !important;
        -webkit-backdrop-filter: blur(10px);
        -moz-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
          
    }
}
