.nana-primary-color {
    background: linear-gradient(to right, #9C27B0, #FFC107) !important;
    color: rgba(255,255,255, 0.87) !important;
    opacity: 1 !important;
}

.nana-primary-bg-color {
    background: linear-gradient(to right, #9C27B0, #FFC107) !important;
    padding: 2px;
    opacity: 1 !important;
}

.nana-logo-title {
    background: linear-gradient(to right, #9C27B0, #FFC107);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-size: 1.7rem !important;
}

.nana-btn-active {
    opacity: 1 !important;
}